<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section  name="TaxSettings" type="System.Configuration.DictionarySectionHandler" />
    <section  name="DiscountSettings" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="URL" value="http://www.store.demoqa.com"/>
  </appSettings>
  
  <TaxSettings>
    <clear />
    <add key="UT" value="0.0685"/>
    <add key="NV" value="0.08"/>
    <add key="TX" value="0.0625"/>
    <add key="AL" value="0.04"/>
    <add key="CA" value="0.0825"/>
  </TaxSettings>
  <DiscountSettings>
    <add key="1000" value="0.03"/>
    <add key="5000" value="0.05"/>
    <add key="7000" value="0.07"/>
    <add key="10000" value="0.1"/>
    <add key="50000" value="0.15"/>
  </DiscountSettings>
</configuration>